<div class="w-100 h-100 f-n f-30px">
  <ng-gradient class="p-a w-100 h-100 t-0 l-0 z-1" ng-gradient-option="{
    opacity: [1, 1],
    direction: 'radial',
    states: {
      'default-state': {
        gradients: [
          ['#BDBDBD', '#9E9E9E'],
          ['#757575', '#616161'],
          ['#616161', '#757575'],
          ['#9E9E9E', '#BDBDBD']
        ]
      }
    }
  }"></ng-gradient>
  <div class="p-a w-100 h-100 t-0 l-0 z-2">
    <div full-page class="section" options="{ scrollingSpeed: 500, controlArrows: false }" ng-init="directions = [{title:'Down', value:true}, {title:'UP', value:false}];">

      <!-- Click -->
      <div class="f-l w-100 h-100 slide">
        <div class="w-100 cen">
          <div class="w-100 t-c f-n" ng-init="btn1 = { title: 'Click' }">
            <button class="w-150px h-150px b-we bor-9px bs-0_0_25_we_50 ls-3px"
            ng-action ng-action-model="btn1" ng-action-duration="1000"
            ng-class="[ {'rubberBand animated':btn1.$click} ]">
              {{btn1.title}}
            </button>
          </div>
        </div>
      </div>

      <!-- Hover -->
      <div class="f-l w-100 h-100 slide">
        <div class="w-100 cen">
          <div class="w-100 t-c f-n" ng-init="btn2 = { title: 'Hover' }">
            <button class="w-150px h-150px b-we bor-9px bs-0_0_25_we_50 ls-3px"
            ng-action ng-action-model="btn2" ng-action-duration="1000"
            ng-class="[ {'rubberBand animated':btn2.$hover} ]">
              {{btn2.title}}
            </button>
          </div>
        </div>
      </div>

      <!-- Focus -->
      <div class="f-l w-100 h-100 slide">
        <div class="w-100 cen">
          <div class="w-100 t-c f-n" ng-init="btn3 = { title: 'Focus' }">
            <input class="w-150px h-150px b-we bor-9px bs-0_0_25_we_50 t-c ls-3px"
            ng-action ng-action-model="btn3" ng-action-duration="1000"
            ng-class="[ {'rubberBand animated':btn3.$focus} ]" placeholder="{{btn3.title}}"
            ng-model="btn3.$focus">
          </div>
        </div>
      </div>

      <button class="p-a w-20 h-60px cen-y c-we l-0 z-2" ng-click="movePrev();">
        <div class="p-r w-100 h-100">
          <i class="ion-arrow-left-b f-30px cen"></i>
        </div>
      </button>
      <button class="p-a w-20 h-60px cen-y c-we r-0 z-2" ng-click="moveNext();">
        <div class="p-r w-100 h-100">
          <i class="ion-arrow-right-b f-30px cen"></i>
        </div>
      </button>

    </div>
  </div>
</div>
